{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <title>
            {% block title %}
            Tweet App
            {% endblock %}
        </title>
        
    </head>
    <body>

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        
        <!-- Brand -->
        <a class="navbar-brand fw-bold fs-3" href="{% url 'tweet_list' %}">
            🐦TweetApp
        </a>
        
        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- NAVBAR CONTENT -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        
        <!-- CENTER SEARCH BAR -->
        <div class="mx-auto" style="width: 40%;">
            <form class="d-flex" role="search" method="GET" action="{% url 'tweet_search' %}">
                <div class="input-group">
                    
                    <!-- Input -->
                    {% comment %} <input type="search" name="search"class="form-control form-control-lg outline-light rounded-start"placeholder="Search tweets..."> {% endcomment %}
                    <input type="search" name="search"class="form-control border-0 shadow-none rounded-start"placeholder="Search tweets...">
                    <!-- Button -->
                    <button class="btn btn-outline-light me-3  rounded-end" type="submit">
                        Search
                    </button>
                    
                </div>
            </form>
        </div>
        
        <!-- RIGHT SIDE -->
        <div class="d-flex align-items-center gap-1 m-2">
            <!-- Create Tweet button only -->
            <a class="btn btn-outline-light me-3" style="border-radius: 12px;" href="{% url 'tweet_create' %}">
                + Create Tweet
            </a>
            
            <!-- Logout -->
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-light me-3" type="submit">
                    Logout
                </button>
            </form>
            
            <!-- Profile -->
            <a href="{% url 'profile' user.username %}" class="text-white">
                <i class="fa-sharp fa-regular fa-circle-user fa-2xl" style="color:#adadad"></i>
                </a>

            </div>
            
        </div>
    </div>
</nav>

{% else %}
<div class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="mx-auto fw-bold fs-1">
        TweetApp
    </div>
</div>
{% endif %}



<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="https://kit.fontawesome.com/5d82faebd2.js" crossorigin="anonymous"></script>
</body>
</html>